<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/favicon.ico"/>
    <title>Stocks</title>
    <link href="/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/ie10-viewport-bug-workaround.css" rel="stylesheet"/>
    <link href="/theme.css" rel="stylesheet"/>
    <link href="/custom.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/bootstrap-editable.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap-sortable.css"/>
</head>

</html>