<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body role="document">
<div class="container">
    <div th:if="${param.error}">
        <div class="alert alert-danger" role="alert">
            <strong>:(</strong> Wrong userEntity and password!
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-success" role="alert">
            <strong>Ok!</strong> You have successfully logged out.
        </div>
    </div>
    <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in.</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="true"
               autofocus="true" name="username"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
               required="true"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <hr/>
    <a href="/">Return to home</a>
</div>
<head th:replace="fragments/bottom :: bottom"></head>
</body>
</html>
